{% assign content = site.data.content['contacts_info'] %}

<!-- Conacts Info -->

<div class="section contacts">
	<div class="content">
		{{ if content.title != '' }}
		<div class="title">
			<div class="title_inner">{{ content.title }}</div>
		</div>
		{{ endif }}
		
		<div class="service-items">
			<center>
			{% for item in content.list %}
			<div class="service-item">
				<div class="icon"><span class="ion ion-{{ item.icon }}"></span></div>
				<div class="name">{{ item.label }}</div>
				<p>
					{{ item.value }}
				</p>
			</div>
			{% endfor %}
		    </center>
		</div>
	</div>
	<div>
		<center>
			</br>
			<div class="contact_form mt-[30px]">
			<button class="btn fill" onclick="$('#cform').submit(); return false;"  data-tf-popup="Az1yJb1u" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=Bezerramos Contato" data-tf-auto-close data-tf-transitive-search-params data-tf-medium="snippet" style="all:unset;font-family:Courier Prime,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#C7009C;color:#fff;font-size:20px;border-radius:0px;padding:0 33px;font-weight:bold;height:50px;cursor:pointer;line-height:50px;text-align:center;margin:0;text-decoration:none;">Entre em contato</button>
			<script src="//embed.typeform.com/next/embed.js"></script>
			</div>
			</br>
		</center>
		</br>
	</div>
</div>


