---
layout: default
title: Saiba Mais
permalink: /saibamais/ # Define a URL amigável
theme: default # Ou o tema que você quer para a página em si
---

<div class="saibamais-container section started">
  <div class="centrize full-width">
    <div class="vertical-center">
      <div class="started-content">
        
        <div class="saibamais-buttons">
          {% for category in site.data.saibamais.categories %}
            <h3 class="category-title">{{ category.title }}</h3>
            {% for button in category.buttons %}
              {% assign btn_theme_name = button.theme | default: page.theme | default: 'default' %}
              {% assign btn_theme = site.data.themes[btn_theme_name] %}
              
              <a href="{{ button.url | relative_url }}"
              class="saibamais-button"
              {% if button.target_blank %}target="_blank" rel="noopener noreferrer"{% endif %}
              style="
                --btn-border-color: {{ btn_theme.border | default: 'var(--border-color)' }};
                --btn-bg-color: {{ btn_theme.background | default: 'rgba(199, 0, 156, 0.1)' }};
                --btn-text-color: {{ btn_theme.text | default: 'var(--text-color)' }};

                {% if button.theme %}
                  --btn-hover-bg-color: {{ btn_theme.active | default: 'var(--active-color)' }};
                  --btn-hover-text-color: {{ btn_theme.extra_active | default: 'var(--background-color)' }};
                {% else %}
                  --btn-hover-bg-color: {{ btn_theme.border | default: 'var(--border-color)' }};
                  --btn-hover-text-color: {{ btn_theme.background | default: 'var(--background-color)' }};
                {% endif %}
              "
              
              data-text="{{ button.main_text }}">

                <span class="saibamais-icon {{ button.icon }}"></span>
                <span class="saibamais-text">
                  {{ button.main_text }}
                  {% if button.secondary_text %}
                    <br><span>{{ button.secondary_text }}</span>
                  {% endif %}
                </span>
            </a>
            {% endfor %}
          {% endfor %}
        </div>
        
      </div>
    </div>
  </div>
   </div>